/.bash_history
/.bash_logout
/.bashrc
/.cache
/.cursor
/.cursor-server
/everything-claude-code
/.pip
/.profile
/.pydistutils.cfg
/.ssh
/.sudo_as_admin_successful
article-monitor/tests
article-monitor/.coveragerc
.claude
